 div {align-content: center; margin: 10% 10% 5% 5%;}
 .Nimg {width:100%;max-width: 1000px;margin-left:auto;margin-right:auto;display:block;margin-top:5px;margin-bottom:5px;}
 .Wimg {width:100%;margin-left:auto;margin-right:auto;display:block;margin-top:5px;margin-bottom:5px;}
 .Limg {width:60%;float:left;margin-right:10px;margin-top:5px;margin-bottom:5px;}
 .LimgS {width:35%;float:left;margin-right:10px;margin-top:5px;margin-bottom:5px;}
 .LimgT {width:20%;float:left;margin-right:10px;margin-top:5px;margin-bottom:5px;}
 .Rimg {width:60%;float:right;margin-left:10px;margin-top:5px;margin-bottom:5px;}
 .RimgS {width:35%;float:right;margin-left:10px;margin-top:5px;margin-bottom:5px;}
 .RimgT {width:20%;float:right;margin-left:10px;margin-top:5px;margin-bottom:5px;}
 figcaption{font-style: italic;text-align:center;}
 caption{align-self:bottom;}
 table{border: 1px solid black;border-collapse: collapse;}
 td{border: 1px solid black;border-collapse: collapse;padding: 7px;}